@{
    ViewData["Title"] = "Test";
}

@*    @foreach (var item in ViewBag.Value)
{
<h3>

    @item;

</h3>
}*@

<h2>
   Cookie Value = @ViewBag.Cookie
   <br />

   Session Value = @ViewBag.Session
</h2>
